
/* BASIC SETTING START */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background: rgb(43, 41, 41);
}

@font-face {
    font-family: Euclid Circular A Bold;
    src: url(../fonts/Euclid\ Circular\ A\ Bold.ttf);
}

@font-face {
    font-family: Euclid Circular A Regular;
    src: url(../fonts/Euclid\ Circular\ A\ Regular.ttf);
}

@font-face {
    font-family: NewYork PERSONAL USE;
    src: url(../fonts/NewYork\ PERSONAL\ USE.otf);
}

/* BASIC SETTING END */

/* HEADER AREA  */

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:  rgb(43, 41, 41);
    margin-bottom: 5rem;
}

header ul {
    display: flex;
    gap: 2rem;
    margin-right: 5rem;
    list-style: none;
}

header img {
    width: 7%;
    color: white;
    margin: 1.5rem 0 0 3rem;
    margin-bottom: 1rem;
}

.links a {
    color: white;
    text-decoration: none;
    font-family: Euclid Circular A Bold, sans-serif;
}

.links span {
    color:  rgb(236, 190, 104);
}

/* HEADER AREA END */

/* SECTION UNRIVALED START */
    
.unrivaled {
    height: 110vh;
    background-image: url(./img/19.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10rem;
}
    
.btn-wrapper {
    display: flex;
    justify-content: center;
    
}

.btn-circle {
    border: 1px solid;
    border-radius: 50%;
    border-color: azure; 
    position: relative;
    top: 0;
    left: 5px;
    transition: top 0.2s ease-out; 
   
}

.btn-circle:hover {
    transform: translateX(-5px); 
    top: -5px;
    left: +5px;
    background: white;
}

.btn-circle:hover + .btn {
    transform: translateX(5px);
  }
   
.pic22 {
    margin-left: 20rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.daisy {
    display: flex;
    justify-content: right;
    margin-top: -50rem;
    margin-right: 22.5rem;
}
    
h1 {
    color:white;
    font-family: NewYork PERSONAL USE, sans-serif;
    text-align: center;
    margin-top: -12rem;
    font-size: 200px;
    font-weight: 400;
}    
    
section h2 {
    color:white;
    font-family: NewYork PERSONAL USE, sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}

span #home {
    color:  rgb(236, 190, 104);
}

.eyelashes {
    margin-left: 50rem;
    margin-top: -2rem;
    margin-bottom: 1rem;
}

.middle-pic {
    margin-left: 52rem;
}

.outsource  {
    color: gray;
    margin-left: 72em;
    margin-top: -15rem;
    font-family: Euclid Circular A Regular, sans-serif;
    line-height: 1.8rem;
    font-size: 18px;
}
    
.outsource span {
    color: white;
}

.right-arrow {
    margin-top: -10rem;
    margin-left: 113.5rem;
}

.stars {
    margin-left: 22rem;
    margin-top: -8rem;
}

.fashion-week {
    margin-left: 30rem;
    margin-top: -10rem;
}
    
.f-week {
    color: white;
    font-family: Euclid Circular A Regular, sans-serif;
    font-size: 20px;
}

 /* SECTION UNRIVALED END */

 /* SECTION FASHION FOR PASSION START */

.line-one {
    width:70%;
    margin-left: 17rem;
    color:  rgb(236, 190, 104);
    margin-top: 4rem;
}
    
.life-style {
    width: 44%;
    margin: 5rem 0 0 32rem;
    font-size: 90px;
    margin-bottom: 2rem;
    margin-top: 6rem;
}  

.supplements {
    color: gray;
    width: 33%;
    font-family: Euclid Circular A Regular, sans-serif;
    font-size: 18px;
    align-items:flex-start;
    margin-left: 38rem;
    text-align: center;
    line-height: 2rem;
    margin-bottom: 7rem;
}

.btn-check {
    text-decoration: none;
    color: whitesmoke;
    font-family: Euclid Circular A Regular, sans-serif;
    margin-left: 52rem;
    border: 0.5px solid;
    padding: 2rem;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    position: relative;
    top: 0;
}

.btn-check:hover {
    background-color:  rgb(236, 190, 104);
    border: 0px;
    color: rgb(68, 63, 63);
    transform: translateX(-10px);
    top: -5px;
}

.btn-check:hover + .btn {
    transform: translateX(10px);
}

.line-two {
    width:70%;
    margin-left: 17rem;
    color:  rgb(236, 190, 104);
    margin-top: 12rem;
    margin-bottom: 7rem;
}
    
/* SECTION FASHION FOR PASSION END */
  
/* SECTION SELECTED WORKS START */

.selected-works {
    margin-bottom: 10rem;
}

article {
    margin-bottom: 10rem;
}

.h2-selected {
    width: 30%;
    font-size: 90px;
    margin-left: 11rem;
    margin-bottom: 2rem;
    margin-top: -2rem;  
}

.line-three {
    width: 9%;
    color:  rgb(236, 190, 104);
    margin-left: 25rem;
}

.creative {
    color: gray;
    font-family: Euclid Circular A Regular, sans-serif;
    font-size: 18px;
    margin-left: 38rem;
    margin-top: -1rem;
    margin-bottom: -1rem;
}
    
.btn-view {
    text-decoration: none;
    color: whitesmoke;
    font-family: Euclid Circular A Regular, sans-serif;
    margin-left: 90rem;
    margin-top: -10rem;
    border: 0.5px solid;
    padding: 2rem;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    position: relative;
    top: 0;

}

.btn-view:hover {
    background-color: rgb(236, 190, 104);
    border: 0px;
    color: rgb(68, 63, 63);
    transform: translateX(-10px);
    top: -5px;
}

.btn-view:hover + .btn {
    transform: translateX(10px);
  }

.sisters {
    margin-bottom: 15rem;
}

.stephanie {
    height: 110%;
    margin-left: 20rem;
}

.shelby {
    margin-left: 10rem;
}
    
.etienne {
    margin-left: 10rem;
}

.visual {
    margin-left: 20rem;
}

/* SECTION SELECTED WORKS END */

/* SECTION IMG CHANGE START */

.img-change {
    height: 140vh;
}

.img-change ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-left: 17.5rem;
    padding-right: 19rem;
    margin-bottom: -3rem;
}

.img-change h4 {
    font-family: Euclid Circular A Regular, sans-serif;   
}

.img-change .area {
    color: gray;
    font-family: Euclid Circular A Regular, sans-serif;
    font-size: 13px;
    padding-left: 40px;
}

.line-four {
    width:70%;
    margin-left: 17rem;
    color:  rgb(236, 190, 104);
    margin-top: 4rem;
    margin-bottom: 5rem;
}

.link-block {
    display: block;
    flex-direction: column;
    color: white;  
    height: 50%;
    margin-bottom: 9rem;
}
    
.link-block a {
    text-decoration: none;
}
    
.h2-fields {
    font-family: NewYork PERSONAL USE, sans-serif;
    font-size: 90px;
    font-weight: 400;
    color: white;
}
    
 #cloth {
    font-family: Euclid Circular A Regular, sans-serif;
    font-size: 14px;
    color: gray;
    margin-left: 8rem;   
} 

#style {
    font-family: Euclid Circular A Regular, sans-serif;
    font-size: 14px;
    color: gray;
    margin-left: 8.5rem;
}

#character {
    font-family: Euclid Circular A Regular, sans-serif;
    font-size: 14px;
    color: gray;
    margin-left: 6rem;
}

#designer {
    font-family: Euclid Circular A Regular, sans-serif;
    font-size: 14px;
    color: gray;
    margin-left: 3rem;
}

#costume:hover {
    color:  rgb(236, 190, 104);
}

#acting:hover {
    color:  rgb(236, 190, 104);
}

#modelling:hover {
    color:  rgb(236, 190, 104);
}

#artist:hover {
    color:  rgb(236, 190, 104);
}

.img-17 {
    margin-left: 20rem;
    margin-top: -5rem;
}
    
.img-16 {
    display: flex;
    justify-content: right;
    margin-right: 18rem;
    margin-top: -42rem;
}

.line-five {
    width:70%;
    margin-left: 17rem;
    color:  rgb(236, 190, 104);
    margin-top: 11rem;
} 

/* SECTION IMG CHANGE END */

/* SECTION BUSINESS IMG BLOCK START */

#blog {
    font-size: 90px;
    display: flex;
    justify-content: baseline;
    margin-top: -17.5rem;
    margin-left: 17rem;
    margin-bottom: 5rem;
}

.line-six {
    width: 9%;
    color:  rgb(236, 190, 104);
    margin-left: 25rem;
}

.lorem {
    color: gray;
    font-family: Euclid Circular A Regular, sans-serif;
    font-size: 18px;
    margin-left: 38rem;
    margin-top: -1rem;
    margin-bottom: -4rem;
    width: 68vh;
}

.btn-blogs {
    text-decoration: none;
    color: whitesmoke;
    font-family: Euclid Circular A Regular, sans-serif;
    margin-left: 86rem;
    margin-top: -5rem;
    border: 0.5px solid;
    padding: 2rem;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    top: 0;
    position: relative;
}

.btn-blogs:hover {
    background-color:  rgb(236, 190, 104);
    border: 0px;
    color: rgb(68, 63, 63);
    transform: translateX(-50px);
    top: -5px;
}

.btn:hover + .btn {
    transform: translateX(50px);
  }

.business-pics {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5.5rem;  
}   
    
.date {
    display: flex;
    justify-content:start;
    margin-left: 19rem;
    gap: 15.5rem;
    font-family: Euclid Circular A Regular, sans-serif;
    color: gray;
    margin-top: 2rem;
    font-size: 18px;   
}    
    
.description  {
    list-style: none;
    display: flex;
    justify-content:start;
    margin-left: 19rem;
    gap: 8.7rem;
    color: white;
    margin-top: 1rem;
    font-size: 21px;  
    font-weight: 700;
    font-family: NewYork PERSONAL USE, sans-serif;
    margin-bottom: 9rem;
}

.description a {
    text-decoration: none;
    color: white;
}

.description a:hover {
    color:  rgb(236, 190, 104);
}

/* SECTION BUSINESS IMG BLOG END */

/* SECTION GIF ANIMATION START */

.gif-animation {
    height: 100vh;
    background: url(../gif/sparkler-gif.gif) no-repeat;
    background-color: linear-gradient (rgb(109, 69, 69));
    background-color: linear-gradient (rgb(94, 92, 92));
    background-size: cover;
 }
   
 .line-seven {
     width: 55%;
     color:  rgb(236, 190, 104);
     margin-left: 32rem;
     margin-bottom: 1rem;
 }
 
 .caption {
     display: inline-block;
     justify-content: center;
     align-self: center;
     margin-top: 47rem;
     margin-left: 43rem;
     font-family: Euclid Circular A Regular, sans-serif;
     font-size: 20px;
 }
     
 .caption h2 {
     font-size: 55px;
     color: white;
 }
 
 .caption p {
    margin-left: 48rem;
    margin-top: -8rem;
    width: 35%;
    line-height: 2.6rem;
    color: white
 }
 
 #divine {
     margin-right: 2rem;
 }
 
 /* SECTION GIF ANIMATION END */

 /* SECTION AWARD WINNER START */ 

#nominated {
    width: 50%;
    margin: 5rem 0 0 15rem;
    font-size: 100px;
    margin-bottom: 4rem;
    margin-top: 6rem;
    text-align: left;
    line-height: 8rem;
}

.innovation {
    color: gray;
    font-family: Euclid Circular A Regular, sans-serif;
    font-size: 18px;
    margin-left: 38rem;
    margin-top: -1rem;
    margin-bottom: -4rem;
    width: 47vh;
    text-align: inherit;
}

.best-award {
    display: block;
    justify-content: right;
    text-align:right;
    margin-right: 30rem;
    margin-top: -7rem;
    line-height: 2rem;
}

#developer {
    color: white;
    font-family: Euclid Circular A Regular, sans-serif;
    font-size: 18px;
    width: 103.5%;
}

#winner {
    margin-right: 4rem;
    color: white;
    font-family: Euclid Circular A Regular, sans-serif;
    font-size: 18px;
}

#contact {
    margin-top: 10rem;
    margin-left: 17rem;
    margin-bottom: -5rem;
    font-family: Euclid Circular A Regular, sans-serif;
    font-size: 18px;
    color: white;
}

.line-eight {
    margin-top: 6rem;
    width:70%;
    margin-left: 17rem;
    color:  rgb(236, 190, 104);
}

.great {
    font-family: NewYork PERSONAL USE, sans-serif;
    color: white;
    width: 50%;
    margin: 5rem 0 0 50rem;
    font-size: 100px;
    margin-bottom: 4rem;
    margin-top: 6rem;
    text-align: left;
    line-height: 8rem;
}

.btn-talk {
    text-decoration: none;
    color: whitesmoke;
    font-family: Euclid Circular A Regular, sans-serif;
    margin-left: 50rem;
    margin-top: -5rem;
    border: 0.5px solid;
    padding: 2rem 3rem;
    border-radius: 50%;
    margin-bottom: 10rem;
    position: relative;
    top: 0;
    transition: top 0.2s ease-out;
    transform: translateX(-10px);
}

.btn-talk:hover {
    background-color:  rgb(236, 190, 104);
    border: 0px;
    color: rgb(68, 63, 63);
    top: -5px;
}

.btn-talk:hover + .btn {
    transform: translateX(10px);
  }

.ninth-line {
    color: rgb(236, 190, 104);
    margin-top: 12rem;
    
}

/* SECTION AWARD WINNER END */ 

/* FOOTER AREA */

footer {
    height: 50vh;
}

footer img {
    width: 7%;
    color: white;
    margin: 1.5rem 0 0 3rem;
    margin-top: 5rem;
}

.footer-links {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: -3rem;
    margin-right: 15rem;
    gap: 15rem;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-family: Euclid Circular A Bold, sans-serif;
    font-size: 18px;
}

.main-info {
    list-style: none;
    line-height: 2rem;
}

.second-info {
    list-style: none;
    line-height: 2rem;
}

.third-info {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.div-little {
    margin-left: 67.8rem;
    margin-top: -5rem;
    line-height: 4rem; 
}

.little-line {
    width: 12%;
}

#powered {
    color: gray;
    font-family: Euclid Circular A Bold, sans-serif;
    font-size: 18px;
    margin-bottom: -4rem;
}

.btn-flow {
    color: white;
    margin-left: 6.5rem;
    font-family: Euclid Circular A Bold, sans-serif;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease-in-out;
    position: relative;
    top: 0;
}

.btn-flow:hover {
    color: rgb(236, 190, 104);
    top: -5px;
}

.btn-flow:hover + .btn {
    transform: translateX(10px);
}

.your-mail {
    display: flex;
    justify-content: right;
    margin-top: -7.7rem;
    margin-bottom: 2rem;
}

input {
    background: rgb(43, 41, 41);
    color: white;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    outline: none;
    margin-right: 10rem;
    font-size: 15px;
    width: 15%;
    padding: 0.5rem;
    margin-bottom: 2rem;
}

.btn-submit {
    text-decoration: none;
    color: whitesmoke;
    font-family: Euclid Circular A Regular, sans-serif;
    margin-left: 91rem;
    margin-top: -6rem;
    border: 0.5px solid;
    padding: 2rem 3rem;
    border-radius: 50%;
    position: relative;
    transition: all 0.3s ease-in-out;   
    top: 0; 
}

.btn-submit:hover {
    background-color:  rgb(236, 190, 104);
    border: 0px;
    color: rgb(68, 63, 63);
    transform: translateX(-10px);
    top: -5px;
}

.btn:hover + .btn {
    transform: translateX(10px);
}

























